@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Poppins:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;


}

:root {
    --bg-color: #fdfdfd;
    --text-color: #000000;
    --main-color: #fd6f05;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    
    
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 2.7rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);

}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}

header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
   
}

.acceuil {
    display: flex;
    align-items: center;
}

.acceuil .acceuil-content {
    max-width: 44rem;
}

.acceuil-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.acceuil-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.acceuil-content p {
    font-size: 1.6rem;
}

.acceuil-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.acceuil-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}


.acceuil .roadmap-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    
    overflow: hidden;
    pointer-events: none;
}

.acceuil .roadmap-container .roadmap-box {

    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: roadmapRotate 13s ease-out infinite;

} 

@keyframes roadmapRotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.acceuil .roadmap-box .roadmap {
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.acceuil .roadmap-box .roadmap:nth-child(1) i {
    margin-right: 15px;
}

.acceuil .roadmap-box .roadmap:nth-child(2),
.acceuil .roadmap-box .roadmap:nth-child(4) {
    padding-bottom: 20px;
}

.acceuil .roadmap i {
    font-size: 3.8rem;
}

.acceuil .roadmap h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.acceuil .roadmap-box .cercle {
    width: 560px;
    height: 560px;
    
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.acceuil .roadmap-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.acceuil-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

.vision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.vision-img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.vision-content h2 {
    text-align: left;
    line-height: 1.2;

}

.vision-content h3 {
    font-size: 2rem;
}

.vision-content P {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.formations {
    min-height: auto;
    padding-bottom: 7rem;
}

.formations h2 {
    margin-bottom: 5rem;
} 

.formations .formations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.formations-container .formations-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.formations-container .formations-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.formations-box i {
    font-size: 7rem;
    color: var(--main-color)
}

.formations-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.formations-box:hover h3 {
    color: var(--main-color);
    
}

.formations-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.apropos {
    padding-bottom: 10rem;
}

.apropos h2 {
    margin-bottom: 4rem;
}

.apropos .apropos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
}

.apropos-container .apropos-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.apropos-box img {
    width: 100%;
    transition: .5s ease;
    
}

.apropos-box:hover img {
    transform: scale(1.1);
}

.apropos-box .apropos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5 ease;
}

.apropos-box:hover .apropos-layer {
    opacity: 1;
}

.apropos-layer h4 {
    font-size: 3rem;
}

.apropos-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.apropos-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.apropos-layer a i {
    font-size: 2rem;
    color: #333;
}

.team-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding: 5rem 1rem;
}

.team-container .team-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.team-wrapper .team-box {
    background: none;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    
}

.team-content .team-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.team-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.team-slide h3 {
    font-size: 2.5rem;
    margin: 2rem .0;
}

.team-slide P {
    font-size: 1.4;
    text-align: center;
}

.team-box .swiper-button-next,
.team-box .swiper-button-prev {
    color: var(--main-color);
}

.team-box .swiper-button-next{
    right: 0;
}

.team-box .swiper-button-prev {
    left: 0;
}

.team-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.team-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);

}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);

}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);

}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
        margin-top: 30px;
    }

    .acceuil .roadmap-container {
        height: 85.8rem;
    }

    .acceuil .roadmap-container .roadmap-box {
        right: -12rem;
        height: 85.8rem;
    }

    .acceuil .roadmap-container .overlay {
        right: -9rem;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .acceuil .roadmap-container .roadmap-box {
        right: -22rem;
    }

    .acceuil .roadmap-container .overlay {
        right: -15rem;
    }
}

@media (max-width: 991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;

    }

    .acceuil .acceuil-content {
        max-width: 50rem;

    }
    .acceuil .roadmap-container .roadmap-box {
        right: -45rem;
    }

    .acceuil .roadmap-container .overlay {
        right: -39,5rem;
    }

    .acceuil-img {
        display: none;
    }

    .apropos .formations {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
       display: none;
    }

    .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .acceuil {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }
    .acceuil-content h3 {
        font-size: 2.6rem;
    }
    .acceuil-content h1 {
        font-size: 5rem;
    }

    .acceuil-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .acceuil .roadmap-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .acceuil .roadmap-container .roadmap-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .acceuil .roadmap-box .roadmap {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .acceuil .roadmap-box .roadmap:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(1) i {
        margin-right: 0;
    }

    .acceuil .roadmap-box .roadmap:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .acceuil .roadmap-box .cercle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    
    .acceuil .roadmap-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .vision {
        flex-direction: column-reverse;
        text-align: center;
    }

    .vision-content h2 {
        text-align: center;
    }

    .vision-img {
        
        width: 70vw;
        margin-top: 2rem;
    }

    .formations h2, .apropos h2 {
        margin-bottom: 3rem;
    }

    .apropos .apropos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-container .team-wrapper {
        padding: 5rem 0;
    }

    .team-content .team-slide {
        padding: 3rem 2rem;
    }

    .team-box .swiper-button-next,
    .team-box .swiper-button-prev {
        display: none;
    }

}

@media (max-width: 617px) {
    .formations .formations-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon{
        right: 6rem;
    }

    .acceuil {
        padding: 0 3% 30rem;
    }

    .acceuil .roadmap-box .roadmap:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .acceuil .roadmap-box .roadmap:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -335px);
    }

    .contact form .input-box input {
        width: 100%;
    }

}

@media (max-width: 365px) {
    .vision-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin: 2rem;

    }


}